/* Universal Styles*/

html {
    background-color: lightgray;
    font-family: Calibri, 'Trebuchet MS', sans-serif;
}

/* Header */

header {
    text-align: center;
    width: 100%;
}

header h1 {
    text-transform: uppercase;
    background-color: black;
    color: white;
    padding: 20px;
    margin:0px;
    border-radius: 10px 10px 0 0;
}

/* Nav */

nav {
    font-weight: bold;
    background-color: rgb(63, 70, 109);
    padding: 1px;
    border-radius: 0 0 10px 10px;
}

nav li {
    display: inline-block;
    padding: 0 100px;   
}

nav a {
    text-decoration: none;
    color: white;
    
}



/* Section */

section {
    background-color: white;
    border-radius: 10px;
    margin: 10px 50px;
    padding: 10px 30px;
}

#colours,
#fonts,
#text-styles {
    color: rgb(63, 70, 109);
}

/* Colours*/

.colour-container {
    text-align: center;
    padding: 0 0 30px 0;
}

.colour-panel {
    margin: 10px 5px;
    width: 150px;
    text-align: center;
    display: inline-block;
    color: white;
    border-radius: 2px;
}

.colour-panel.rich-black {
    background-color: #051720;
}

.colour-panel.prussian-blue-1 {
    background-color: #03273C;
}

.colour-panel.prussian-blue-2 {
    background-color: #003554;
}

.colour-panel.indigo-dye {
    background-color: #004D74;
}

.colour-panel.sapphire-blue {
    background-color: #006494;
}

.colour-panel.honolulu-blue {
    background-color: #006DA4;
}

/* Fonts */

.font-container {
    text-align: center;
}

.font-panel {
    display: inline-block;
    color: black;
    padding: 0 75px 30px 75px;
    margin: 0;
}

.font-panel.overpass {
    font-family: 'Overpass', sans-serif;
}

.font-panel.fraunces {
    font-family: 'Fraunces', serif;   
}

.font-panel.source-code {
    font-family: 'Source Code Pro', monospace;    
}

.font-title {
    font-size: 30px;
    margin: 0;
}

.font-plain {
    font-weight: normal;
    font-style: normal;
}

.font-bold {
    font-weight: bold; 
}

.font-italic {
    font-style: italic;  
}



/* Text Styles */

.text-style-panel {
    font-size: 15px;
    font-weight: 400;
    font-family: 'Overpass', sans-serif;
    padding: 0 50px 10px 50px;
}

.text-style-panel h1 {
    font-size: 30px;
    font-weight: bold;
}

.text-style-panel h2 {
    font-size: 20px;
    font-weight: 500;
}




/* Footer */

footer p {
    text-align: right;
    font-style: italic;
}