/* Universal Styles*/

html {
    background-color: lightgray;
    font-family: Calibri, 'Trebuchet MS', sans-serif;
}

/* Header */

header {
    text-align: center;
    width: 100%;
}

header h1 {
    text-transform: uppercase;
    background-color: black;
    color: white;
    padding: 20px;
    margin:0px;
    border-radius: 10px 10px 0 0;
}

/* Nav */

nav {
    font-weight: bold;
    background-color: darkgray;
    padding: 1px;
    border-radius: 0 0 10px 10px;
}

nav li {
    display: inline-block;
    padding: 0 100px;   
}

nav a {
    text-decoration: none;
    color: rgb(45, 62, 145);
    
}



/* Section */

section {
    background-color: white;
    border-radius: 10px;
    margin: 10px 50px;
    padding: 10px 30px;
}

h2 {

}





/* Footer */

footer p {
    text-align: right;
    font-style: italic;
}